<div class="container issue">
  <%= link_to '<-' + @issue.magazine.title, magazine_path(@issue.magazine), :class => "back" %>

  <h1 class="title"><%= @issue.title %></h1>

  <% @issue.articles.each do |article| -%>
    <div class="article">
      <h2><%= link_to article.title, article_path(article) %></h2>

      <div class="content">
        <%= markdown(article.content) %>
      </div>
    </div>
  <% end -%>
</div>