<div class="container article">
  <%= link_to '<-' + @article.issue.title, issue_path(@article.issue) %>

  <h1><%= @article.title %></h1>

  <%= markdown(@article.content) %>

  <h2>Comments, likes, shares</h2>
</div>