// Place all the styles related to the Seasons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.season .magazine {
  min-height: 600px;
  border: 5px solid white;
}

.season .header{
  padding: 5px 50px;
  background-color: #AAC;
  z-index: 1;
  position: relative;
}

.season .header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.season .header.fixed.absolute {
  position: absolute;
}