// Place all the styles related to the Seasons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.season .magazine {
  padding: 0;
  position: relative;
  // min-height: 600px;
  border: 5px solid white;
  background-color: black;
}

.season .magazine .details {
  position: absolute;
  color: white;
  top: 0;
  width: 100%;
  height: 100%;
}

.season .magazine .details .title {
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}

.season .magazine .background {
  // position: absolute;
  width: 100%;
  // height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.season .magazine:hover .background {
  opacity: 0.75;
}

.season .header{
  padding: 5px 50px;
  background-color: #AAC;
  z-index: 1;
  position: relative;
}

.season .header .minor {
  font-size: 1.4rem;
}

.season .header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.season .header.fixed.absolute {
  position: absolute;
}